# Exercise 3: Multiple-Row Subquery 
Using `IN` , `NOT IN` , `ANY` operator

[โจทย์หน้า: 78](https://drive.google.com/drive/u/0/folders/1-ALfovQlpNBpBNqAo91g5dimx0NMDX_s)

## Load data

In [1]:
%load_ext sql
# Show more rows in results
%config SqlMagic.displaylimit = 300

In [2]:
%sql postgresql://postgres:12345678@localhost:5432/postgres

Connecting to 'postgresql://postgres:***@localhost:5432/postgres'

In [3]:
%sql SELECT version()

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+-------------------------------------------------------------------------+
|                                 version                                 |
+-------------------------------------------------------------------------+
| PostgreSQL 18.1 on x86_64-windows, compiled by msvc-19.44.35221, 64-bit |
+-------------------------------------------------------------------------+

In [4]:
%sql SET search_path TO classicmodels, public

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

## Query

### 1. Find all customers who have had at least one payment

In [12]:
%%sql
SELECT 
    customerNumber,
    customerName,
    city
FROM customers 
WHERE customerNumber in (
    SELECT DISTINCT customerNumber
    FROM payments
)
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

5 rows affected.

+----------------+----------------------------+---------------+
| customernumber |        customername        |      city     |
+----------------+----------------------------+---------------+
|      347       | Men 'R' US Retailers, Ltd. |  Los Angeles  |
|      209       |        Mini Caravy         |   Strasbourg  |
|      455       |      Super Scale Inc.      |   New Haven   |
|      181       |      Vitachrome Inc.       |      NYC      |
|      321       |  Corporate Gift Ideas Co.  | San Francisco |
+----------------+----------------------------+---------------+

### 2. List products that have been ordered

In [ ]:
%%sql
SELECT 
    productCode,
    productName,
    productLine
FROM products
WHERE productCode in (
    SELECT DISTINCT productCode
    FROM orderdetails
)

### 3. Find employees who work in offices located in the USA

In [15]:
%%sql
SELECT 
    employeeNumber,
    concat(firstName, ' ', lastName) AS empname,
    jobTitle
FROM employees
WHERE officeCode in (
    SELECT officeCode
    FROM offices
    WHERE country = 'USA'
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----------------+-----------------+--------------------+
| employeenumber |     empname     |      jobtitle      |
+----------------+-----------------+--------------------+
|      1002      |   Diane Murphy  |     President      |
|      1056      |  Mary Patterson |      VP Sales      |
|      1076      |  Jeff Firrelli  |    VP Marketing    |
|      1143      |   Anthony Bow   | Sales Manager (NA) |
|      1165      | Leslie Jennings |     Sales Rep      |
|      1166      | Leslie Thompson |     Sales Rep      |
|      1188      |  Julie Firrelli |     Sales Rep      |
|      1216      | Steve Patterson |     Sales Rep      |
|      1286      |  Foon Yue Tseng |     Sales Rep      |
|      1323      |  George Vanauf  |     Sales Rep      |
+----------------+-----------------+--------------------+

### 4. Find orders placed by customers from Germany

In [17]:
%%sql
SELECT
    orderNumber,
    orderDate
FROM orders
WHERE customerNumber in (
    SELECT customerNumber
    FROM customers
    WHERE country = 'Germany'
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

7 rows affected.

+-------------+---------------------+
| ordernumber |      orderdate      |
+-------------+---------------------+
|    10101    | 2003-01-09 00:00:00 |
|    10191    | 2003-11-20 00:00:00 |
|    10230    | 2004-03-15 00:00:00 |
|    10296    | 2004-09-15 00:00:00 |
|    10300    | 2003-10-04 00:00:00 |
|    10310    | 2004-10-16 00:00:00 |
|    10323    | 2004-11-05 00:00:00 |
+-------------+---------------------+

### 5. Find customers who have never placed an order

In [23]:
%%sql
SELECT
    customerNumber,
    customerName,
    country
FROM customers
WHERE customerNumber not in (
    SELECT DISTINCT customerNumber
    FROM orders
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

24 rows affected.

+----------------+--------------------------------+--------------+
| customernumber |          customername          |   country    |
+----------------+--------------------------------+--------------+
|      125       |       Havel & Zbyszek Co       |    Poland    |
|      168       |     American Souvenirs Inc     |     USA      |
|      169       |       Porto Imports Co.        |   Portugal   |
|      206       |   Asian Shopping Network, Co   |  Singapore   |
|      223       |              Nat               |   Germany    |
|      237       |         ANG Resellers          |    Spain     |
|      247       |    Messner Shopping Network    |   Germany    |
|      273       |       Franken Gifts, Co        |   Germany    |
|      293       |       BG&E Collectables        | Switzerland  |
|      303       |        Schuyler Imports        | Netherlands  |
|      307       |        Der Hund Imports        |   Germany    |
|      335       |        Cramer Spezialit        |   Germany    |
|      348       |     Asian Treasures, Inc.      |   Ireland    |
|      356       |      SAR Distributors, Co      | South Africa |
|      361       |        Kommission Auto         |   Germany    |
|      369       |     Lisboa Souveniers, Inc     |   Portugal   |
|      376       |     Precious Collectables      | Switzerland  |
|      409       | Stuttgart Collectable Exchange |   Germany    |
|      443       |    Feuer Online Stores, Inc    |   Germany    |
|      459       |        Warburg Exchange        |   Germany    |
|      465       |      Anton Designs, Ltd.       |    Spain     |
|      477       |           Mit Vergn            |   Germany    |
|      480       |   Kremlin Collectables, Co.    |    Russia    |
|      481       |       Raanan Stores, Inc       |    Israel    |
+----------------+--------------------------------+--------------+

### 6. List products that have never been ordered

In [24]:
%%sql
SELECT
    productname,
    buyPrice
FROM products
WHERE productCode not in (
    SELECT DISTINCT productCode 
    FROM orderdetails
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+-------------------+----------+
|    productname    | buyprice |
+-------------------+----------+
| 1985 Toyota Supra |  57.01   |
+-------------------+----------+

### 7. Find employees who are not sales representatives

In [35]:
%%sql
SELECT
    employeeNumber,
    concat(firstName, ' ', lastName) AS empname,
    jobTitle
FROM employees
WHERE jobTitle not in ('Sales Rep', 'Sales Manager')

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

6 rows affected.

+----------------+-------------------+----------------------+
| employeenumber |      empname      |       jobtitle       |
+----------------+-------------------+----------------------+
|      1002      |    Diane Murphy   |      President       |
|      1056      |   Mary Patterson  |       VP Sales       |
|      1076      |   Jeff Firrelli   |     VP Marketing     |
|      1088      | William Patterson | Sales Manager (APAC) |
|      1102      |   Gerard Bondur   | Sale Manager (EMEA)  |
|      1143      |    Anthony Bow    |  Sales Manager (NA)  |
+----------------+-------------------+----------------------+

### 8. Find product lines that don’t have any products priced above $100

In [33]:
%%sql
SELECT
    DISTINCT productLine
FROM products
WHERE productLine not in (
    SELECT productLine
    FROM products
    WHERE buyPrice > 100
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

6 rows affected.

+------------------+
|   productline    |
+------------------+
| Trucks and Buses |
|      Trains      |
|   Vintage Cars   |
|   Motorcycles    |
|      Planes      |
|      Ships       |
+------------------+

### 9. Find products more expensive than ANY product in the 'Classic Cars' product line

In [ ]:
%%sql
SELECT
    productName,
    buyPrice
FROM products
WHERE buyPrice > ANY (
    SELECT buyPrice
    FROM products
    WHERE productLine = 'Classic Cars'
)
AND productLine != 'Classic Cars'

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

72 rows affected.

+---------------------------------------------+----------+
|                 productname                 | buyprice |
+---------------------------------------------+----------+
|    1969 Harley Davidson Ultimate Chopper    |  48.81   |
|            1996 Moto Guzzi 1100i            |  68.99   |
|     2003 Harley-Davidson Eagle Drag Bike    |  91.02   |
|                1958 Setra Bus               |   77.9   |
|               2002 Suzuki XREO              |  66.27   |
|              1957 Chevy Pickup              |   55.7   |
|            1940 Ford Pickup Truck           |  58.33   |
|             1937 Lincoln Berline            |  60.62   |
|   1936 Mercedes-Benz 500K Special Roadster  |  24.26   |
|         1980s Black Hawk Helicopter         |  77.27   |
|           1917 Grand Touring Sedan          |   86.7   |
|               Boeing X-32A JSF              |  32.77   |
|              1911 Ford Town Car             |   33.3   |
|            1964 Mercedes Tour Bus           |  74.86   |
|          1932 Model A Ford J-Coupe          |  58.48   |
|            1926 Ford Fire Engine            |  24.92   |
|                P-51-D Mustang               |    49    |
|     1936 Harley Davidson El Knucklehead     |  24.23   |
|            1928 Mercedes-Benz SSK           |  72.56   |
|         1913 Ford Model T Speedster         |  60.78   |
|              1934 Ford V8 Coupe             |  34.35   |
|            1999 Yamaha Speed Boat           |  51.61   |
|     18th Century Vintage Horse Carriage     |  60.74   |
|              1903 Ford Model A              |   68.3   |
|           Collectable Wooden Train          |  67.56   |
|           1917 Maxwell Touring Car          |  57.54   |
|               1957 Vespa GS150              |  32.95   |
|   1941 Chevrolet Special Deluxe Cabriolet   |  64.58   |
|     1932 Alfa Romeo 8C2300 Spider Sport     |  43.26   |
|             1904 Buick Runabout             |  52.66   |
|               1940s Ford truck              |  84.76   |
|           1939 Cadillac Limousine           |  23.14   |
|              1997 BMW R 1100 S              |  60.86   |
|       1928 British Royal Navy Airplane      |  66.74   |
|         1939 Chevrolet Deluxe Coupe         |  22.57   |
|           1960 BSA Gold Star DBD34          |  37.32   |
|            18th century schooner            |  82.34   |
|  1938 Cadillac V-16 Presidential Limousine  |  20.61   |
|           1962 Volkswagen Microbus          |  61.34   |
|           1982 Ducati 900 Monster           |   47.1   |
|            1900s Vintage Bi-Plane           |  34.25   |
|       1912 Ford Model T Delivery Wagon      |  46.91   |
|          1937 Horch 930V Limousine          |   26.3   |
|           1940 Ford Delivery Sedan          |  48.64   |
|           Corsair F4U ( Bird Cage)          |  29.34   |
|       1936 Mercedes Benz 500k Roadster      |  21.75   |
|            1936 Chrysler Airflow            |  57.46   |
|           1900s Vintage Tri-Plane           |  36.23   |
|          1980s GM Manhattan Express         |  53.93   |
|               1997 BMW F650 ST              |  66.92   |
|              1982 Ducati 996 R              |  24.14   |
|         1954 Greyhound Scenicruiser         |  25.98   |
|    1950's Chicago Surface Lines Streetcar   |  26.72   |
| 1996 Peterbilt 379 Stake Bed with Outrigger |  33.61   |
|           1928 Ford Phaeton Deluxe          |  33.02   |
|          1974 Ducati 350 Mk3 Desmo          |  56.13   |
|         1930 Buick Marquette Phaeton        |  27.06   |
|       Diamond T620 Semi-Skirted Tanker      |  68.29   |
|        1962 City of Detroit Streetcar       |  37.49   |
|              2002 Yamaha YZR M1             |  34.17   |
|            The Schooner Bluenose            |    34    |
|         American Airlines: B767-300         |  51.15   |
|                The Mayflower                |   43.3   |
|                  HMS Bounty                 |  39.83   |
|        America West Airlines B757-200       |   68.8   |
|          The USS Constitution Ship          |  33.97   |
|                ATA: B757-300                |  59.33   |
|              F/A 18 Hornet 1/72             |   54.4   |
|                 The Titanic                 |  51.09   |
|                The Queen Mary               |  53.63   |
|          American Airlines: MD-11S          |  36.27   |
|                  Pont Yacht                 |   33.3   |
+---------------------------------------------+----------+

### 10. Find customers from countries that have ANY office

In [41]:
%%sql
SELECT
    customerName,
    country
FROM customers
WHERE country = ANY (
    SELECT DISTINCT country
    FROM offices
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

60 rows affected.

+--------------------------------+-----------+
|          customername          |  country  |
+--------------------------------+-----------+
|       Atelier graphique        |   France  |
|       Signal Gift Stores       |    USA    |
|   Australian Collectors, Co.   | Australia |
|       La Rochelle Gifts        |   France  |
|  Mini Gifts Distributors Ltd.  |    USA    |
|        Mini Wheels Co.         |    USA    |
|       Land of Toys Inc.        |    USA    |
|     Saveley & Henriot, Co.     |   France  |
|       Muscle Machine Inc       |    USA    |
|     Diecast Classics Inc.      |    USA    |
|      Technics Stores Inc.      |    USA    |
|     American Souvenirs Inc     |    USA    |
|    Daedalus Designs Imports    |   France  |
|   La Corne D'abondance, Co.    |   France  |
|   Cambridge Collectables Co.   |    USA    |
|        Gift Depot Inc.         |    USA    |
|      Osaka Souveniers Co.      |   Japan   |
|        Vitachrome Inc.         |    USA    |
|         AV Stores, Co.         |     UK    |
|    Auto-Moto Classics Inc.     |    USA    |
|     UK Collectables, Ltd.      |     UK    |
|    Online Mini Collectables    |    USA    |
|       Toys4GrownUps.com        |    USA    |
|          Mini Caravy           |   France  |
|       Boards & Toys Co.        |    USA    |
|  Collectable Mini Designs Co.  |    USA    |
|       giftsbymail.co.uk        |     UK    |
|          Alpha Cognac          |   France  |
|        Lyon Souveniers         |   France  |
|          Auto Associ           |   France  |
|    Anna's Decorations, Ltd     | Australia |
|   Souveniers And Things Co.    | Australia |
|      Marta's Replicas Co.      |    USA    |
|         Mini Classics          |    USA    |
|      Mini Creations Ltd.       |    USA    |
|    Corporate Gift Ideas Co.    |    USA    |
|    Stylish Desk Decors, Co.    |     UK    |
|    Tekni Collectables Inc.     |    USA    |
|  Australian Gift Network, Co   | Australia |
|    Classic Gift Ideas, Inc     |    USA    |
|   Men 'R' US Retailers, Ltd.   |    USA    |
|      Marseille Mini Autos      |   France  |
|       Reims Collectables       |   France  |
|       Gifts4AllAges.com        |    USA    |
|  Online Diecast Creations Co.  |    USA    |
|   Collectables For Less Inc.   |    USA    |
|    Tokyo Collectables, Ltd     |   Japan   |
|       Auto Canal+ Petit        |   France  |
|      Classic Legends Inc.      |    USA    |
|        Gift Ideas Corp.        |    USA    |
|   The Sharp Gifts Warehouse    |    USA    |
|        Super Scale Inc.        |    USA    |
|        Microscale Inc.         |    USA    |
|        FunGiftIdeas.com        |    USA    |
|  Australian Collectables, Ltd  | Australia |
|  West Coast Collectables Co.   |    USA    |
|  Motor Mint Distributors Inc.  |    USA    |
|    Signal Collectibles Ltd.    |    USA    |
| Double Decker Gift Stores, Ltd |     UK    |
|      Diecast Collectables      |    USA    |
+--------------------------------+-----------+